section#main
	.container
		include 0.header.pug
		p.pre Записи мастер-класса внизу страницы
		h1.main-title
			span Настоящий
			| дизайн человека
		p.main-info Старт курса: 
			span 22 октября
		p.main-info Автор курса: 
			span Никита Раздорский
		+bl('button-main','#prices','_self','Купить')