section#second
	.container
		h3.second-title Подготовка не требуется
		p.second-text Для участия желательно иметь данные рождения: дд.мм.гг., населенный пункт рождения и время рождения местное на тот момент с точностью до 15 минут. 
			span Если вы не знаете более-менее точного времени рождения - не беда. 
			| На курсе будет дана простая и эффективная система ректификации времени рождения