section#plan
	.container
		+gt('','План курса:')
		#lessons
			ul.lessons-links
				li Урок 1
				li Урок 2
				li Урок 3
				li Урок 4
				li Урок 5
				li Урок 6
			.lessons
				.lesson.lesson-1
					h4.lesson-title Урок 1
					h5.lesson-subtitle Ваша личная правда
					ol.general-list.lesson-list
						li Типы и ауры. Генератор, Ман-Генератор, Проектор, Манифестор, Рефлектор
						li Настоящая стратегия для каждого типа. Практическое применение.
						li Внутренний авторитет. Возможные авторитеты для каждого типа
						li Стратегия и авторитет - особая схема принятия решений
						li Сознательная и бессознательная части личности
				.lesson.lesson-2
					h4.lesson-title Урок 2
					h5.lesson-subtitle Ваша осознанность
					ol.general-list.lesson-list
						li Переменные осознанности и физики
						li Совокупность переменных как отдельная единица
						li Осознанность ума. Мотивация и счастье. Ложная Мотивация
						li Взгляд и Распознавание. Внешняя правда. Среда обитания тела
						li Работа мозга и тела. Индивидуальная схема питания. Сенсор тела
				.lesson.lesson-3
					h4.lesson-title Урок 3
					h5.lesson-subtitle Механизм Генных Ключей
					ol.general-list.lesson-list
						li SQ: Сфера духовного интеллекта
						li EQ: Сфера эмоционального интеллекта
						li Линия одобрения. Точка контакта личности
						li Сексуальная травма. Проработка отношений
						li Генетическая травма. Предназначение. Деньги
				.lesson.lesson-4
					h4.lesson-title Урок 4
					h5.lesson-subtitle Механизм любви
					ol.general-list.lesson-list
						li Механика любви в Дизайне
						li Ворота безличностной любви
						li Ворота земной, персональной любви
						li Дирекция Солнца к Венере. Познание любви
						li Когда человек встречает и познает настоящую любовь
				.lesson.lesson-5
					h4.lesson-title Урок 5
					h5.lesson-subtitle Энергоцентры в бодиграфе
					ol.general-list.lesson-list
						li Центры в Дизайне Человека
						li Определенные центры, что есть я
						li Открытые центры, ложное я, голоса
						li Инкарнационный крест, сверх-свойство воплощения
						li.special Ректификация. Вычисление времени рождения человека
				.lesson.lesson-6
					h4.lesson-title Урок 6
					h5.lesson-subtitle Послесловие и консультации
					ol.general-list.lesson-list
						li Каналы в Дизайне Человека
						li Ревизия всех полученных знаний
						li Точки наивысшего интереса Дизайна
						li Ответы на вопросы, подведение итогов
						li.special Настоящая схема проведения личных консультаций