section#about
	.container
		.about-packet.about-packet-1
			h3.about-packet-title Пакет ЗОЛОТО
			h4.about-packet-subtitle Курс “Дизайн Человека”
			p.about-packet-text В одном курсе вы получите не только новое понимание Дизайна Человека, но и механики Генных Ключей, а также алгоритм ректификации - вычисления времени рождения любого человека - и схему построения личной консультации для максимальной сатисфакции клиентов, друзей, родных и близких
			p.about-packet-text 
				span Настоящее Золото
		.about-packet.about-packet-2
			h3.about-packet-title Пакет ПЛАТИНА
			h4.about-packet-subtitle Курс "Дизайн Человека” + “Программа MetaDesign HD”
			p.about-packet-text 
				span Хотите сделать консультации по Дизайну и Генным Ключам своей профессией?
			p.about-packet-text Никита Раздорский лично разработал компьютерную программу, которая позволяет за 2 минуты создать полноценную индивидуальную распечатку для ваших клиентов, которая включает в себя полную механику Дизайна Человека - тип, стратегия, авторитет, каналы, мотивация, дар распознавания и многое другое. Распечатка также включает в себя индивидуальные травмы и Генные ключи, полную расшифровку функционала сознания, среды обитания и схемы питания. Сдайте вашему клиенту данную распечатку перед консультацией - она останется у него навсегда, а прочтение произведет неизгладимое положительное впечатление на вашего клиента, добавит большее понимание и ценность консультации
			p.about-packet-text Никита Раздорский обучит вас пользоваться программой и расскажет, как в кратчайшие сроки найти клиентов и выйти на консультирование
		.clearfix
		+bl('button-about','#prices','_self','Купить')