section#get
	.container
		+gt('','Что получите в результате прохождения курса:')
		ul.general-list.get-list
			li узнаете как не совершать действий, приводящих к потере энергии и сопротивлению в делах
			li проработаете внутренние травмы, самые темные наши стороны, подлинный духовный рост, вместе с которым растет и окружение человека, и качество его жизни во всех сферах
			li улучшите собственное материальное благосостояние, укрепите психику и станете стрессоустойчивыми
			li сможете найти подход к детям, внукам, родным и близким
			li получите рабочую систему вычисления времени рождения
			li научитесь консультировать, направлять, помогать другим
			li лучше узнаете себя, разовьете доверие миру
			li освоите новую профессию: консультации по Дизайну Человека и Генным Ключам могут приносить доход от 40’000 до 200’000 рублей ежемесячно не выходя из дома