section#get
	.container
		+gt('','Что получите в результате прохождения курса:')
		ul.general-list.get-list
			li узнаете, как не совершать действий, приводящих к потере энергии и сопротивлению в делах
			li проработаете внутренние травмы, самые темные стороны
			li встанете на путь духовного роста, по мере которого будет меняться ваше окружение, а также начнут происходить улучшения во всех сферах жизни
			li улучшите собственное материальное благосостояние, укрепите психику и станете стрессоустойчивыми
			li научитесь находить подход к родным и близким
			li получите рабочую систему вычисления времени рождения
			li научитесь консультировать, направлять, помогать другим
			li лучше узнаете себя, разовьете доверие миру
			li освоите новую профессию: консультации по "Дизайну человека" и "Генным ключам" могут приносить доход от 40’000 до 200’000 рублей ежемесячно не выходя из дома