header
	padding: 20px 0
	overflow hidden
	margin-bottom: 60px
#logo
	float: left
	width 164px
	height 17px
	display block
	background-image url(../img/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
.contacts
	float: right
	text-align: right
	line-height  15px
.contact
	font-size: 10px
	&:focus
		text-decoration: none
	.fa
		color: #F0EC0B
		font-size: 15px
		margin: 0 10px 0 22px
		line-height: 15px
	.fa+span
		line-height: 15px
		font-size: 15px;
		font-family: DiL
		color: #fff
		text-align: right;
		&:hover
			text-decoration underline
.contact_tel:first-of-type
	.fa-phone
		margin-left: 0