#main
	width 100%
	padding 0 0 60px
	background-color: #365088
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position:  center
	background-size: cover
	color #fff
	position relative
	&:before
		content: ''
		display block
		position: absolute
		top 0
		left 0
		right 0
		bottom 0
		height 100%
		width 100%
		background-color: rgba(#3E9697, .5)
		z-index: 0
	.container
		position relative
		z-index: 9
.main-title
	margin 15px 0 35px
	font-family: DiBl
	line-height: 1.2
	color: #FFFF00
	width: 100%;
	max-width 400px
	text-shadow: 3px 5px 5px #000
	font-size: 68px
.main-info
	font-size: 20px
	span
		display: inline-block
		font-size: 24px
		font-family: DiB
		margin-bottom: 10px
.button-main
	margin: 40px 0 0