#second
	padding 60px 0 0
	text-align: center
.second-title
	font-size: 28px
	font-family:  DiB
	color red
	text-shadow: 0 2px 3px rgba(0,0,0,.35)
	margin-bottom: 25px
	text-decoration: underline
.second-text
	font-size: 22px
	span
		font-family: DiB