#plan
	padding 60px 0
#lessons
	width 100%
	max-width 720px
	margin 0 auto
.lessons
	border-radius: 5px
	box-shadow: 0 0 7px rgba(#3E9697,.25)
	padding 20px
	&-links
		text-align: center
		li
			display: inline-block
			margin 0 5px 15px
			border-radius: 3px
			border: 1px solid
			font-size: 20px
			color #3E9697
			transition: all .6s ease
			width 100px
			line-height: 35px
			cursor pointer
			&:hover
			&.active
			&.active-3
				box-shadow: 0 2px 7px rgba(#3E9697,.35)
				transform: translateY(-3px)
				background-color: #3E9697
				color #FFFF00
				border-color: #3E9697
.lesson
	&-title
		text-align: center
		font-size: 22px
		font-family: DiBl
		color #3E9697
	&-subtitle
		font-size: 20px
		font-family: DiB
		margin 15px 0 10px
	&-list
		margin-left: 15px