#prices
	padding 60px 0
	position relative
	background-color #0C181E
	background-image url(../img/prices_bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	&:before
		@extend #main:before
	.container
		@extend #main .container
.general-title-prices
	color #fff
.packets
	width 100%
	max-width 760px
	margin 0 auto
.packet
	width 100%
	max-width 320px
	margin 0 auto 25px
	border-radius: 10px
	text-align: center
	overflow hidden
	background-color: rgba(#fff,.95)
	box-shadow: 0 0 10px 5px  rgba(0,0,0,.13)
.packet-head
	padding 20px
	background-color: #3e9697
.packet-head-title
	color #fff
	font-family: DiL
	font-size: 20px
	span
		font-size: 28px
		display block
		font-family: DiB
		color #FFFF00
		text-transform: uppercase
.packet-body
	padding 20px
	min-height 185px
	width 87%
	border-bottom: 1px solid #3e9697
	margin 0 auto
.packet-body-text
	font-size: 20px
	padding-bottom: 5px
	&-2
		margin: 15px 0 -5px
.more-button
	display: inline-block
	border-bottom: 1px dotted
	font-family: DiL
	font-family: 16px
	cursor pointer
.packet-footer
	padding 20px 20px 30px
.cost
	font-size: 20px
	margin-bottom: 20px
	font-family: DiL
	span
		display block
		font-size: 26px
		font-family: DiBl
	&-full
		span
			text-decoration: line-through
	&-sale
		color red
	&-today
		color green
.button-cost
	box-shadow: 0 0 8px  rgba(0,0,0,.25)
.prepayment
	text-align: center
	&-title
		font-size: 36px
		color red
		font-family: DiBl
	&-text
		font-size: 22px
		color #fff
		margin 15px 0 25px
.timer-title
	font-size: 36px
	text-align: center
	font-family: DiBl
	color #fff
	margin 30px 0 0
.flip-clock-wrapper
	width: 100%
	max-width 460px
	margin-top: 20px
.flip-clock-divider .flip-clock-label
	color #fff
.flip-clock-dot
	background-color: #4d67ac
.flip-clock-wrapper ul li a div div.inn
	color: #fff
	background-color: #4d67ac
	text-shadow: 2px 2px 2px rgba(#022a37,.6);