#records
	@extend #plan
#recs
	width 100%
	max-width 650px
	margin 0 auto
.recs-links
	@extend .lessons-links
.recs-container
	@extend .lessons
.day-title
	font-size: 20px
	font-family: DiB
	text-align: center
	margin-bottom: 15px
.day-text
	margin-top: 10px
.general-title-feedback
	margin-top: 60px
#vk
#fb
	overflow hidden
	border-radius: 5px
	box-shadow: 0 2px 5px rgba(0,0,0,.25)
.text-sale
	text-align: center
	margin-bottom: 25px