footer
	background: #242933
	position relative
	padding: 20px 0
	text-align: center
footer
	h5
		font-size: 22px;
		font-family: DiB
		color: rgb(255, 255, 255);
	p
	#conditions
		font-size: 14px;
		font-family: DiL
		color: rgba(255, 255, 255, 0.6);
		line-height: 1.786;
	#conditions
		text-decoration underline
		&:hover
		&:focus
			text-decoration none
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 8px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color #F0EC0B
			color #1C2430
			line-height 28px
			border-radius: 3px
			&:hover
				opacity .8
.modal-dialog
	width 700px
button.close
	position absolute
	width: 35px
	height 35px
	border-radius: 50px
	line-height: 30px
	text-align: center
	font-size: 24px
	color: #000
	background-color: #F0F0F0
	top 10px
	right 10px
	left auto
	z-index 99
	opacity 1
	transition: all .1s ease-in-out
	&:hover
		color: #F0F0F0
		background-color: #000
.modal-backdrop.in
	opacity .8
.modal-title
	width 86%
	font-size: 24px
	font-family: DiBl
.lesson-title-modal
	margin 25px 0 5px
.lesson-subtitle-modal
	margin-top: 0