.general-title
.main-title
.lesson-title
.cost span
.prepayment-title
.timer-title
.modal-title
	font-weight: 900
.button
.main-info span
.second-title
.second-text span
.lesson-subtitle
.about-packet-title
.about-packet-subtitle
.about-packet-text span
.packet-head-title span
.day-title
footer h5
	font-weight: bold
.main-title
	max-width 450px