Di = 'DINPro', sans-serif;
DiBl  = 'DINProBlack', sans-serif;
DiB = 'DINProBold', sans-serif;
DiL = 'DINProLight', sans-serif;


@font-face {
	font-family: 'DINPro';
	src: url('../fonts/DINPro.eot');
	src: url('../fonts/DINPro.eot') format('embedded-opentype'),
		 url('../fonts/DINPro.woff2') format('woff2'),
		 url('../fonts/DINPro.woff') format('woff'),
		 url('../fonts/DINPro.ttf') format('truetype'),
		 url('../fonts/DINPro.svg#DINPro') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DINProBlack';
	src: url('../fonts/DINProBlack.eot');
	src: url('../fonts/DINProBlack.eot') format('embedded-opentype'),
		 url('../fonts/DINProBlack.woff2') format('woff2'),
		 url('../fonts/DINProBlack.woff') format('woff'),
		 url('../fonts/DINProBlack.ttf') format('truetype'),
		 url('../fonts/DINProBlack.svg#DINProBlack') format('svg');
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'DINProBold';
	src: url('../fonts/DINProBold.eot');
	src: url('../fonts/DINProBold.eot') format('embedded-opentype'),
		 url('../fonts/DINProBold.woff2') format('woff2'),
		 url('../fonts/DINProBold.woff') format('woff'),
		 url('../fonts/DINProBold.ttf') format('truetype'),
		 url('../fonts/DINProBold.svg#DINProBold') format('svg');
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'DINProLight';
	src: url('../fonts/DINProLight.eot');
	src: url('../fonts/DINProLight.eot') format('embedded-opentype'),
		 url('../fonts/DINProLight.woff2') format('woff2'),
		 url('../fonts/DINProLight.woff') format('woff'),
		 url('../fonts/DINProLight.ttf') format('truetype'),
		 url('../fonts/DINProLight.svg#DINProLight') format('svg');
	font-display: fallback;
	font-weight: 100;
	font-style: normal;
}

@import '../css/_css/bootstrap.min.css'
@import '../css/_css/flipclock.min.css'

*
	margin 0
	padding 0
	outline none
body
	font-size: 18px
	font-family: Di
	line-height: 1.3
a
	color: #fefefe
	&:focus
		outline: 0
	&:hover
		text-decoration none
h1,h2,h3,h4,h5,h6
	font-weight normal
	margin 0
button
	border none
section
header
footer
	width 100%
	display block
.video-wrapper
	margin 0 auto
	position relative
	width 100%
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	&:after
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		width: 100%
		height 70px
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #000
		border-radius 3px
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer
.button
	display block
	margin 0 auto
	width 100%
	max-width 230px
	border-radius: 5px
	height 50px
	line-height 50px
	text-align: center
	background-color: #FFFF00
	font-family: DiB
	transition: all .1s ease-in
	color #000
	box-shadow: 0 0 12px 13px rgba(0,0,0,.2);
	text-transform: uppercase
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	&:focus
		background-color: #FFFF00
		color #000
		text-decoration: none
		box-shadow: 0 0 12px 13px rgba(0,0,0,.2);
	&:hover
		background-color: #F0EC0B
		color #fff
		text-decoration: none
		box-shadow: 0 0 12px 3px rgba(0,0,0,.15);
		transform: translateY(-3px)
		text-shadow: 1px 1px 3px rgb(0, 0, 0);
	&:active
		color #fff
		box-shadow: 0 0 12px 3px rgba(0,0,0,.1);
		text-decoration: none
		transform: translateY(3px)
.general-title
	text-align: center
	margin-bottom: 40px
	font-size: 32px
	font-family: DiBl
.general-list
	li
		list-style none
		margin-bottom: 10px
		line-height: 1.4
		position relative
		padding-left: 15px
		&:last-child
			margin-bottom: 0
		&:before
		&:after
			content: ''
			display block
			height 13px
			width: 5px
			border: 1px solid #3E9697
			border-radius: 50px
			position: absolute
			left 0
			top 7px
		&:before
			transform: rotate(45deg)
		&:after
			transform: rotate(-45deg)

@import 'main/0.header'
@import 'main/1.main'
@import 'main/2.second'
@import 'main/3.plan'
@import 'main/4.about'
@import 'main/5.get'
@import 'main/6.prices'
@import 'main/7.records'
@import 'main/8.footer'
@import 'main/9.medias'